[Unit]
Description=Simple parental control service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/parental-control.sh

[Install]
WantedBy=multi-user.target
